.modal-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.modal-title {
  margin: 0 300px 0 0;
}

.modal-input-title {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.modal-input-description {
  width: 100%;
  max-width: 500px;
}

.modal-create-button {
  width: 100%;
  margin: 10px 0;
}

.modal-cancel-button {
  width: 100%;
}