.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.modal-close-button {
  display: block;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../img/closeModal.svg');
  width: 20px;
  height: 22px;
  margin-right: 22px;
  cursor: pointer;
}

.modal-title {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  margin: 30px 0 0 28px;
}

.modal-input-title {
  width: 95%;
  max-width: 732px;
  height: 36px;
  margin: 0 0 25px 34px;
  border: none;
  background-color: #F2F2F2;
  padding-left: 9px;
  border-radius: 4px;
}

.modal-input-description {
  width: 95%;
  max-width: 732px;
  height: 129px;
  margin: 0 34px 20px 34px;
  border: none;
  background-color: #F2F2F2;
  padding-left: 9px;
  border-radius: 4px;
}

.deadline-content {
  display: flex;
  align-items: center;
  /* min-width: 800px; */
  width: 100%;
  /* margin-right: 300px; */
}

.deadline-label {
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.26);
  margin: 0 17px 0 34px;
}

.deadline-input {
  width: 100%;
  max-width: 104px;
  height: 36px;
  border: none;
  background-color: #F2F2F2;
  padding-left: 23px;
  font-size: 16px;
  border-radius: 4px;
}

.important-content {
  display: flex;
  align-items: center;
}

.important-label {
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.26);
  margin: 0 17px 0 34px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 26px 0;
  width: 100%;
}

.modal-cancel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  max-width: 134px;
  height: 40px;
  border: 1px solid #ACACAC;
  color: #ACACAC;
  border-radius: 4px;
  font-size: 20px;
  line-height: 23px;
  margin-right: 20px;
}

.modal-create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  max-width: 134px;
  height: 40px;
  background-color: #6473FF;
  color: #FEFDFE;
  border-radius: 4px;
  font-size: 20px;
  line-height: 23px;
  margin-right: 34px;
}


@media (max-width: 800px) {
  .modal-input-title {
    margin: 0 0 25px 10px;
  }

  .modal-input-description {
    margin: 0 34px 20px 10px;
  }
}

@media (max-width: 425px) {
  .modal-title {
    font-size: 26px;
    line-height: 34px;
    margin: 26px 0 0 10px;
  }
  
  .modal-input-title {
    height: 40px;
    margin: 0 0 25px 10px;
  }

  .modal-input-description {
    height: 100%;
    min-height: 110px;
    max-height: 229px;
    margin: 0 34px 20px 10px;
  }

  .deadline-content {
    margin-bottom: 10px;
  }

  .deadline-label {
    font-size: 14px;
    line-height: 23px;
    margin: 0 10px 0 10px;
  }

  .deadline-input {
    width: 100%;
    max-width: 80px;
    height: 30px;
    margin-right: 20px;
    padding-left: 5px;
    font-size: 16px;
  }

  .important-label {
    font-size: 14px;
    line-height: 23px;
    margin: 0 10px 0 10px;
  }

  .buttons {
    margin: 40px 0 26px 0;
  }

  .modal-cancel-button {
    width: 100%;
    max-width: 104px;
    height: 38px;
    font-size: 18px;
    line-height: 23px;
    margin-right: 20px;
  }

  .modal-create-button {
    width: 100%;
    max-width: 104px;
    height: 38px;
    font-size: 18px;
    line-height: 23px;
    margin-right: 10px;
  }
  
}