.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 645px;
  height: 93px;
  border-bottom: 1px solid #000000;
  margin-top: 60px;
}

.vers-title {
  display: flex;
}

.app-title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 83px;
  margin: 0 0 10px 39px;
}

.version {
  font-size: 18px;
  align-self: end;
  color: rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.lists {
  display: flex;
}

.header-buttons {
  display: flex;
  margin-bottom: 10px;
}

.header-button {
  display: block;
  cursor: pointer;
  margin-left: 16px;
  width: 40px;
  height: 40px;
}

.header-button--add {
  background-image: url('../../img/header/addTask.svg');
}

.header-button--add:hover {
  background-image: url('../../img/header/addTaskHover.svg');
}

.header-button--del {
  background-image: url('../../img/header/deleteTasks.svg');
}

.header-button--del:hover {
  background-image: url('../../img/header/deleteTasksHover.svg');
}

.header-button--theme {
  background-image: url('../../img/header/changeTheme.svg');
}

.header-button--theme:hover {
  background-image: url('../../img/header/changeThemeHover.svg');
}