.todo-item {
  display: flex;
  align-items: center;
  height: 45px;
  margin: 10px 0 10px 0;
  width: 98%;
  border-radius: 4px;
  background-color: #FEFDFE;
}

.done {
  border: 2px solid#34FF85;
  background-color: #FEFDFE;
}

.done .task-title {
  text-decoration: line-through;
}


.checkbox-input {
  margin: 0 10px 0 17px;
  display: flex;
}

.task-title {
  max-width: 434px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.additional-content {
  display: flex;
  align-items: center;
  margin-right: 17px;
}

.block-deadline {
  width: 38px;
  display: flex;
  align-items: center;
  color: #BCBBBC;
  font-size: 15px;
  /* margin-right: 12px; */
  cursor: default;
}

.block-important {
  display: flex;
  /* margin-right: 12px; */
  width: fit-content;
}

.delete-task-button {
  display: flex;
  cursor: pointer;
  margin-left: 5px;
}