.todo-item {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid #000000;
  margin: 10px 0 10px 0;
  width: 600px;
}

.done {
  text-decoration: line-through;
  background-color: greenyellow;
}