.todo-item {
  display: flex;
  align-items: center;
  height: 45px;
  margin: 10px 0 10px 0;
  width: 100%;
  border-radius: 4px;
  background-color: #FEFDFE;
}

.done {
  border: 2px solid#34FF85;
  background-color: #FEFDFE;
}

.done .task-title {
  text-decoration: line-through;
  /* text-decoration: transparent; */
  /* color: #34FF85; */
}


.checkbox-input {
  /* width: 20px;
  height: 20px; */
  margin: 0 10px 0 17px;
  display: flex;
}

.task-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.additional-content {
  display: flex;
  margin-right: 20px;
}

.block-deadline {
  width: 38px;
  display: flex;
  color: #BCBBBC;
  font-size: 15px;
  margin-right: 12px;
  cursor: default;
}

.block-important {
  display: flex;
  margin-right: 12px;
  width: 21px;
}

.delete-task-button {
  display: flex;
  cursor: pointer;
}