.noneTaskContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  font-size: 40px;
  font-weight: bold;
  color: #A5A5A5;
}

@media (max-width: 800px) {
  .noneTaskContainer {
    margin-top: 30%;
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .noneTaskContainer {
    margin-top: 40%;
    font-size: 36px;
  }
}

@media (max-width: 540px) {
  .noneTaskContainer {
    margin-top: 50%;
    font-size: 30px;
  }
}

@media (max-width: 458px) {
  .noneTaskContainer {
    margin-top: 60%;
    font-size: 20px;
  }
}