body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0EEF0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 645px;
  height: 93px;
  border-bottom: 1px solid #000000;
  margin-top: 60px;
}

.app-title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 83px;
  margin: 0 0 10px 39px;
}

.lists {
  display: flex;
}

.header-buttons {
  display: flex;
  margin-bottom: 10px;
}

.header-button {
  display: block;
  cursor: pointer;
  margin-left: 16px;
  width: 40px;
  height: 40px;
}

.header-button--add {
  background-image: url('./img/header/addTask.svg');
}

.header-button--add:hover {
  background-image: url('./img/header/addTaskHover.svg');
}

.header-button--del {
  background-image: url('./img/header/deleteTasks.svg');
}

.header-button--del:hover {
  background-image: url('./img/header/deleteTasksHover.svg');
}

.header-button--theme {
  background-image: url('./img/header/changeTheme.svg');
}

.header-button--theme:hover {
  background-image: url('./img/header/changeThemeHover.svg');
}